/* Normalize / Reset Settings For All Browsers */

/* Sets Defauts For All Elements */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* DEBUG OUTLINE */
  /* outline: 1px solid red; */
}

/* Remove Bullets And Numbering From Lists */
ul,
ol {
  list-style: none;
}

/* Reset For Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
