@import "tailwindcss";

@layer utilities {
  .debug-outline,
  .debug-outline * {
    /* outline: 1px solid red; */
  }
}

@theme {
  --font-sans: Inter, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-neutral-100 antialiased;
  }

   #home {
    scroll-margin-top: 0;
  }
}
