@import "tailwindcss";

@layer utilities {
}

@theme {
  --font-sans: Inter, system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-neutral-100 antialiased;
  }

  #home {
    scroll-margin-top: 0;
  }
}
